<!DOCTYPE html>
<html>

<!-- we dont need public/css/{{style}} because public is in app.js-->
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/{{style}}">
    <title>{{title}}</title>
</head>

<body>

    {{{body}}}

</body>

</html>