<form action="/sumbitAdd">
	Item Name:	<input type="text" name="itemName"> <br>
	Company Name: <input type="text" name="companyName"> <br>
	Company Phone: <input type="text" name="companyPhone"><br>
	Imported Date: <input type="text" name="importDate"><br>
	Imported Price: <input type="text" name="importedPrice"><br>
	Imported Cases: <input type="text" name="importedCases"><br>


	<button>Add New</button>
</form>